.App {
  text-align: center;
  color: rgb(56, 55, 54);
}

.App-header {
  background-color: #a4a5a7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(27, 26, 26);
}

.App-link {
  color: #61dafb;
}
